<!-- Nav -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home</a>
        <li class="nav-item active">
        <a class="nav-link" href="/create">Create new list</a>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<!-- end Nav -->
<!-- page container -->
<div class="container">
<div class="row">

<!-- title div -->
<div class="col d-flex justify-content-center">
<h1>Board Page</h1>
</div>


<!-- row ends -->
</div>

<hr>

<h3>Available Lists:</h3>


{{#each lists}}
    <h4 class="list-btn list-group-item" data-list_id="{{this.id}}">{{this.list_name}}</h4>
{{/each}}

<hr>



<script>

    // make the variables
    const listButtons = document.querySelectorAll('.list-btn');

    listButtons.forEach(listBtn => listBtn.addEventListener('click', getListData));

    function getListData(e) {

        let listButtonDataId = e.target.dataset.list_id;
        
        $.ajax({
            
            type: 'GET',
            url: `/list/${listButtonDataId}`,
            dataType: "text",
            success: function(resultData) {
                window.location.href = `/list/${listButtonDataId}`;
            }
        }); 

    }

</script>

<!-- Container ends -->
</div>

