<h1>Board Page</h1>

<a href="/home">Home</a>
<a href="/create">Create new list</a>

<hr>

<h1>Available Lists</h1>

{{#each lists}}
    <h4 class="list-btn" data-list_id="{{this.id}}">{{this.list_name}}</h4>
{{/each}}

<hr>

<script>

    // make the variables
    const listButtons = document.querySelectorAll('.list-btn');

    listButtons.forEach(listBtn => listBtn.addEventListener('click', getListData));

    function getListData(e) {

        let listButtonDataId = e.target.dataset.list_id;
        
        $.ajax({
            
            type: 'GET',
            url: `/list/${listButtonDataId}`,
            dataType: "text",
            success: function(resultData) {
                window.location.href = `/list/${listButtonDataId}`;
            }
        }); 

    }

</script>