<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <img class="header-img" src="/assets/images/logo.svg">
            <h1>Create New Board Page</h1>

            {{!-- TO DO - remove the excessive hrs --}}
            <hr>

            <a href="/home">Home</a>
            <a href="/board">view list board</a>

            <hr>

            <input class="form-control" id="list_name" type="text" placeholder="Enter list name">

            <ul class="list-group mt-3">
                {{#each items}}
                <li class="list-group-item" data-item_name="{{this.item_name}}">
                    {{ this.item_name }}
                </li>
                {{/each}}
            </ul>

            <button id="create-list-btn" class="btn btn-primary mt-2 w-100" onclick="addNewList()">submit</button>

            <hr>
            
            {{!-- start scripts --}}
            <script>

                // make the variables for the checkboxes and input field rows
                const listRow = document.querySelectorAll('.list-group-item');
                const listName = document.querySelector('#list_name');

                let newList = {};
                let newItems = [];

                listRow.forEach(item => item.addEventListener('click', getItemData));
                
                // function for the item checkboxes
                function getItemData(e) {
                    if (!this.classList.contains('item-selected')) {
                        this.classList.add('item-selected');
                        // get the new item data
                        let newItem = e.target.dataset.item_name;
                        // add it to the new items array
                        newItems.push(newItem);
                        console.log(newItems);
                    } else {
                        this.classList.remove('item-selected');
                        newItems = newItems.filter(item => item !== e.target.dataset.item_name);
                        console.log(newItems);
                    }
                }

                // function to handle the form submit after the new list has been created
                // send new data to post route in the database to create new list
                function addNewList() {
                    // TO DO - make these alerts show in the DOM
                    // check if list name is provided
                    if(!listName.value) {
                        return alert('please enter a list name.');
                    }
                    // check if anything has been selected from the list
                    if(newItems === undefined || newItems.length == 0) {
                        return alert('please select at least one item from the list.');
                    }

                    newList = {
                        items: newItems,
                        listName: listName.value
                    }

                    $.ajax({
                        type: 'POST',
                        url: "/list/create",
                        data: newList,
                        dataType: "text",
                        success: function (resultData) {
                            console.log(resultData);
                            window.location.href = "/board";
                        }
                    });
                }

            </script>

        </div>
    </div>
</div>