<h1>Home Page</h1>

<a href="/profile">Profile</a>
<a href="/create">Create a new list</a>
<a href="/board">View list board</a>

{{!-- view the lists you've created or joined --}}
<a href="/owned">View your created lists</a>
<a href="/joined">Your joined lists</a>