<h1>index page</h1>

<h1>{{message}}</h1>

<hr>

{{!-- check if a user is logged in - conditionally render the create/view buttons --}}
{{#if user}}
    <a href="/create">create new list</a>
    <a href="/board">view list board</a>
{{/if}}

<br>

{{!-- check if a user is logged in - conditionally render login/signup --}}
{{#unless user}}
    <a href="/login">Login</a>
    <a href="/signup">Sign up</a>
{{/unless}}

<hr>

{{!-- show the logout button only if user is logged in --}}
{{#if user}}
    <a href="/logout">Logout</a>
{{/if}}